/* General container styling */
.register-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #008080 0%, #006666 50%, #004466 100%);
    width: 1450px;
    margin-top: 30px;
    margin-left: 35vh;

    padding: 15px;

    border-radius: 15px;

    transition: 0.3s ease-in-out;
    height: 80vh;
}

.container:hover {
    transform: scale(1.02);
}

/* Left Section: Information */
.info-section {
    flex: 1;
    padding: 20px;
    text-align: center;
    margin-right: 100px;
}

.info-section h2 {
    font-size: 4rem;
    margin-bottom: 10px;
    color: white;
    text-shadow: 2px 2px 5px rgba(3, 3, 3, 0.3);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}

.info-section p {
    font-size: 25px;
    line-height: 1.5;
    color: white;
}

/* Right Section: Form */
.form-section {
    flex: 1;
    padding: 20px;
    background: linear-gradient(145deg, #f9f9f9, #ffffff);
    border-radius: 15px;
    box-shadow: 4px 4px 10px #bebebe, -4px -4px 10px #ffffff;

}

.form-section h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
}

/* Form styling */
.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Input fields styling */
input,
select {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(145deg, #f0f0f0, #ffffff);
    box-shadow: inset 4px 4px 8px #d1d1d1, inset -4px -4px 8px #ffffff;
    font-size: 20px;
    transition: 0.5s;
    outline: none;
}

input:focus,
select:focus {
    box-shadow: inset 2px 2px 5px #bebebe, inset -2px -2px 5px #ffffff;
}

/* Button styling */
button {
    background: linear-gradient(145deg, #007bff, #0056b3);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 4px 4px 8px #bebebe, -4px -4px 8px #ffffff;
    transition: 0.3s ease-in-out;
}

button:hover {
    background: linear-gradient(145deg, #0056b3, #004499);
    box-shadow: 2px 2px 6px #bebebe, -2px -2px 6px #ffffff;
    transform: translateY(-2px);
}

/* QR Code styling */
.qr-code {
    margin-top: 20px;
    padding: 15px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
    border-radius: 12px;
    display: inline-block;
}

/* Message text */
.message {
    color: red;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 90%;
    }

    .info-section {
        text-align: center;
    }
}

.book-appointment-btn {
    margin-top: 600px;
}